<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="base::layout(~{::section})">
<head>
<meta charset="UTF-8" />
<title>About</title>
</head>
<body>
<section>
    <div class="container">
        <div class="card mt-4">
            <div class="card-body">
                <h2 class="text-center">About Me</h2>
                <hr/>
                <div class="row">
                    <div class="col-md-8 offset-md-2">
                        <p><strong>Name:</strong> Dhanashri Shrirang Dhekale</p>
                        <p><strong>Email:</strong> dhanashridhekale@outlook.com</p>
                        <p><strong>Phone:</strong> +91 8600789879</p>
                        <p><strong>Address:</strong> Kolhapur, Maharashtra, India</p>
                        <p><strong>Education:</strong> BE Computer Engineering</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
</body>
</html>